<h1 class='page-title'>New Symptom</h1>

<%= form_for :symptom, url: {action: "create"} do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  Please choose a
  <p>
    <%= f.label :term_at_pregnancy %><br>
    <%= f.collection_select(:term_id, Term.all, :id, :month, include_blank: 'Please select part of pregnancy this symptom is related to') %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>