<div class="row">
  <h1><%= @symptom.title %></h1>
</div>

<div class="row">
  <h3><%= @symptom.description %></h3>
</div>

<div class="row">
  <h3>Current Advice given</h3>
  <p>(you can edit these on the advice admin page)</p>

  <% if @advices.present? %>
    <% @advices.each do |advice| %>
      <div class="row row-data">
        <div class="col-md-3">
          <p><%= advice.title %></p>
        </div>
        <div class="col-md-6">
          <p><%= advice.description %><p>
        </div>
        <div class="col-md-3">
          <p><%= link_to 'Go to advice doument', admin_advice_path(advice) %><p>
        </div>
        <div class="col-md-3">
          <%= button_to "delete", {action: 'destroy',
                                   id: advice.id }, method: :delete %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Whoops - looks like there is not advice for this symptom yet - pop to the <%# link_to 'advice admin page', adming_advices_path %> and create a new document</p>
  <% end %>

  </div>
</div>